
.Icon-user:before { content: '\e800'; } /* '' */
.Icon-chart:before { content: '\e801'; } /* '' */
.Icon-Remove:before { content: '\e802'; } /* '' */
.Icon-ArrowDown:before { content: '\e803'; } /* '' */
.Icon-ArrowLeft:before { content: '\e804'; } /* '' */
.Icon-ArrowRight:before { content: '\e805'; } /* '' */
.Icon-ArrowUp:before { content: '\e806'; } /* '' */
.Icon-clipboard:before { content: '\e807'; } /* '' */
.Icon-Add:before { content: '\e808'; } /* '' */
.Icon-Home:before { content: '\e809'; } /* '' */
.Icon-th-thumb:before { content: '\f00a'; } /* '' */
.Icon-Cube:before { content: '\f2b0'; } /* '' */
