// ======================================================

@font-face {
  font-family: "Bungee Spice";
  src: url("../Font/BungeeSpice-Regular.ttf");
}

// ========================

@font-face {
  font-family: "MedievalSharp Regular";
  src: url("../Font/MedievalSharp-Regular.ttf");
}

// ========================

@font-face {
  font-family: "Electro harmonix";
  src: url("../Font/electroharmonix.otf");
}

// ========================

// ======================================================
