<div class="PageHome" >

    <div class="Btn-Add Close" *ngIf="NewPaymentMenu" (click)="NewPaymentMenu = !NewPaymentMenu" @scaleInOut> X </div>
    <div class="Btn-Add Save" *ngIf="NewPaymentMenu" (click)="SaveNewPaymentHandle()" @scaleInOut>  O </div>
    <div class="Btn-Add" *ngIf="!NewPaymentMenu" (click)="NewPaymentMenu = !NewPaymentMenu" @scaleInOut> + </div>
    
    <!-- <div class="Btn-Add Close" *ngIf="NewPaymentMenu" (click)="NewPaymentMenu = !NewPaymentMenu" @scaleInOut> <ion-icon name="close"></ion-icon> </div> -->
    <!-- <div class="Btn-Add Save" *ngIf="NewPaymentMenu" (click)="null" @scaleInOut> <ion-icon name="ellipse-outline"></ion-icon> </div> -->
    <!-- <div class="Btn-Add" *ngIf="!NewPaymentMenu" (click)="NewPaymentMenu = !NewPaymentMenu" @scaleInOut> <ion-icon name="add"></ion-icon> </div> -->
    
    <div class="PaymentBox"*ngIf="!NewPaymentMenu">
        
        <div class="EmptyListText" *ngIf="!PaymentData"> Empty List <ion-icon name="warning-outline"/> </div>
        <div class="EmptyListText" *ngIf="PaymentData"> PayMent List </div>
        
        <div *ngFor=" let Payment of PaymentData ">
            <PaymentCard [PaymentData]="Payment"/>
        </div>

    </div>

    <div class="NewPaymentBox" *ngIf="NewPaymentMenu" @scaleInOut>

        <div class="NewPaymentText"> New Payment </div>

        <!-- <label class="NewPaymentLable-Title" > Title </label> -->
        <!-- <input    class="NewPayment-Title Form-Box" type="text" placeholder="Title" [(ngModel)]="NewPaymentForm.Title"> -->

        <div class="DropShadow"><div class="PaymentForm-Title"> <input type="text" [(ngModel)]="NewPaymentForm.Title"> </div></div>
        <div class="DropShadow"><div class="PaymentForm-Description"> <textarea id="inputText" [(ngModel)]="NewPaymentForm.Description"></textarea> </div></div>
        <div class="DropShadow"><div class="PaymentForm-Price"> <input type="number" [(ngModel)]="NewPaymentForm.Price"> </div></div>
        <div class="DropShadow"><div class="PaymentForm-Status"> 
        
            <div class="PaymentFormStatus-Title">Status</div>

            <div class="PaymentFormStatus-List"></div>
        
        </div></div>
        
    </div>

</div>