.PaymentCard-Box {
  position: relative;

  min-width: 100px;
  max-width: 400px;
  min-height: 80px;

  margin: 10px;
  padding: 5px;

  // border-radius: 5px;
  background: white;

  transition: 200ms;
  box-shadow: 0px 2px 3px #fff;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 70%);

  &:active {
    transform: translateY(5px);
  }

  &::before {
    content: "";
    position: absolute;

    inset: 1px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 70%);

    background: #242424;
  }

  // filter: drop-shadow(inset 0px 2px 5px red);

  // ===
}

// ==========================

.Payment-Title {
  position: absolute;

  top: 5px;
  left: 5px;
}

.Payment-Description {
  position: absolute;

  top: 25px;
  bottom: 10px;
  right: 70px;
  left: 20px;

  text-align: start;

  font-size: 11px;
  // border: 1px solid red;
}

.Payment-Price {
  position: absolute;

  bottom: 5px;
  right: 5px;

  font-size: 11px;
}

.Payment-Status {
  position: absolute;

  top: 5px;
  right: 5px;

  font-size: 11px;
}

.Payment-TimeAge {
  position: absolute;

  top: 20px;
  right: 5px;

  font-size: 11px;
}
